<table class="w3-table w3-bordered">
  <thead>
  <tr>
    <th>Link ID</th>
    <th>Link URL</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let link of links">
    <td>{{link.linkId}}</td>
    <td><input type='text' [(ngModel)]="link.linkURL" (change)="change(link.linkId)" /></td>
    <td><button class='w3-button w3-circle w3-black' (click)="delete(link.linkId)">×</button></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td><input type='text' name='linkId' [(ngModel)]="newLink.linkId" /></td>
    <td><input type='text' name='linkURL' [(ngModel)]="newLink.linkURL" /></td>
    <td><button class='w3-button w3-circle w3-teal' (click)="new()">+</button></td>
  </tr>
  </tfoot>
</table>
